@using System.Security.Claims

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mision Cristiana Elim Izalco</title>
    <link rel="shortcut icon" type="image/png" href="~/assets/images/logos/Logo-Sin-Letras-Black.png">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MCEI.SysControlAdmin.WebApp.styles.css" asp-append-version="true" />
    
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/assets/css/metisMenu.css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/slicknav.min.css">
    <!-- others css -->
    <link rel="stylesheet" href="~/assets/css/typography.css">
    <link rel="stylesheet" href="~/assets/css/default-css.css">
    <link rel="stylesheet" href="~/assets/css/styles.css">
    <link rel="stylesheet" href="~/assets/css/responsive.css">
    <!-- modernizr css -->
    <script src="~/assets/js/vendor/modernizr-2.8.3.min.js"></script>

    <link href="~/lib/SweetAlert2/css/min.css" rel="stylesheet" />
    <link href="~/lib/DataTables/css/dataTables.css" rel="stylesheet" />
    <link href="~/lib/DataTables/css/min.css" rel="stylesheet" />
    <link href="~/lib/Select2/css/min.css" rel="stylesheet" />

</head>
<body class="body-bg">
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    @if (User.Identity.IsAuthenticated)
    {
        <!-- main wrapper start -->
        <div class="horizontal-main-wrapper">
            <!-- main header area start -->
            <div class="mainheader-area">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-3">
                            <div class="logo">
                                <a asp-area="" asp-controller="Home" asp-action="Index"><img src="/assets/images/logos/Logo-Elim-Black.png" alt="logo"></a>
                            </div>
                        </div>
                        <!-- profile info & task notification -->
                        <div class="col-md-9 clearfix text-right">
                            <div class="clearfix d-md-inline-block d-block">
                                <div class="user-profile m-0">
                                    <h7 class="user-name dropdown-toggle" data-toggle="dropdown">Nivel De Acceso:</h7>
                                    <h7 class="user-name dropdown-toggle" data-toggle="dropdown" style="margin-left:5px;">@User.FindFirst(ClaimTypes.Role)?.Value <i class="fa fa-angle-down"></i></h7>
                                    <div class="dropdown-menu">
                                        <p class="dropdown-item"><strong>Acciones:</strong></p>
                                        <a class="dropdown-item" id="logoutLink" href="#!">Cerrar Sesión</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- main header area end -->
            <!-- header area start -->
            <div class="header-area header-bottom">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-9  d-none d-lg-block">
                            <div class="horizontal-menu">
                                @if (User.IsInRole("Desarrollador"))
                                {
                                    <nav>
                                        <ul id="nav_menu">
                                            <!-- Seccion Inicio -->
                                            <li>
                                                <a asp-area="" asp-controller="Home" asp-action="Index"><i class="ti-home"></i><span>Inicio</span></a>
                                            </li>
                                            <!-- Seccion Dashboard -->
                                            <li>
                                                <a asp-area="" asp-controller="Home" asp-action="Dashboard"><i class="ti-dashboard"></i><span>Dashboard</span></a>
                                            </li>
                                            <!-- Seccion Administracion -->
                                            <li>
                                                <a href="javascript:void(0)"><i class="ti-bookmark-alt"></i><span>Administración</span></a>
                                                <ul class="submenu">
                                                    <li><a asp-area="" asp-controller="Membership" asp-action="Index">Membresia</a></li>
                                                    <li><a asp-area="" asp-controller="Privilege" asp-action="Index">Privilegios</a></li>
                                                    <li><a asp-area="" asp-controller="Server" asp-action="Index">Servidores</a></li>
                                                </ul>
                                            </li>
                                            <!-- Seccion Historial -->
                                            <li>
                                                <a href="javascript:void(0)"><i class="ti-archive"></i><span>Historial</span></a>
                                                <ul class="submenu">
                                                    <li><a asp-area="" asp-controller="MembershipHistory" asp-action="Index">Historial Membresia</a></li>
                                                </ul>
                                            </li>
                                            <!-- Seccion Seguridad -->
                                            <li>
                                                <a href="javascript:void(0)"><i class="ti-lock"></i><span>Seguridad</span></a>
                                                <ul class="submenu">
                                                    <li><a asp-area="" asp-controller="Role" asp-action="Index">Roles</a></li>
                                                    <li><a asp-area="" asp-controller="User" asp-action="Index">Usuarios</a></li>
                                                    <li><a asp-area="" asp-controller="User" asp-action="ChangePassword">Cambiar Contraseña</a></li>
                                                    <li><a asp-area="" asp-controller="Support" asp-action="Index">Cambiar Contraseña a Usuarios Externos</a></li>
                                                </ul>
                                            </li>
                                            <!-- Seccion Mi Perfil-->
                                            <li>
                                                <a href="javascript:void(0)"><i class="ti-user"></i><span>Mi Perfil</span></a>
                                                <ul class="submenu">
                                                    <li><a asp-area="" asp-controller="User" asp-action="Information">Mi Información</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </nav>
                                }
                                else if (User.IsInRole("Administrador"))
                                {
                                    <nav>
                                        <ul id="nav_menu">
                                            <!-- Seccion Inicio -->
                                            <li>
                                                <a asp-area="" asp-controller="Home" asp-action="Index"><i class="ti-home"></i><span>Inicio</span></a>
                                            </li>
                                            <!-- Seccion Dashboard -->
                                            <li>
                                                <a asp-area="" asp-controller="Home" asp-action="Dashboard"><i class="ti-dashboard"></i><span>Dashboard</span></a>
                                            </li>
                                            <!-- Seccion Administracion -->
                                            <li>
                                                <a href="javascript:void(0)"><i class="ti-bookmark-alt"></i><span>Administración</span></a>
                                                <ul class="submenu">
                                                    <li><a asp-area="" asp-controller="Membership" asp-action="Index">Membresia</a></li>
                                                    <li><a asp-area="" asp-controller="Privilege" asp-action="Index">Privilegios</a></li>
                                                    <li><a asp-area="" asp-controller="Server" asp-action="Index">Servidores</a></li>
                                                </ul>
                                            </li>
                                            <!-- Seccion Historial -->
                                            <li>
                                                <a href="javascript:void(0)"><i class="ti-archive"></i><span>Historial</span></a>
                                                <ul class="submenu">
                                                    <li><a asp-area="" asp-controller="MembershipHistory" asp-action="Index">Historial Membresia</a></li>
                                                </ul>
                                            </li>
                                            <!-- Seccion Seguridad -->
                                            <li>
                                                <a href="javascript:void(0)"><i class="ti-lock"></i><span>Seguridad</span></a>
                                                <ul class="submenu">
                                                    <li><a asp-area="" asp-controller="Role" asp-action="Index">Roles</a></li>
                                                    <li><a asp-area="" asp-controller="User" asp-action="Index">Usuarios</a></li>
                                                    <li><a asp-area="" asp-controller="User" asp-action="ChangePassword">Cambiar Contraseña</a></li>
                                                    <li><a asp-area="" asp-controller="Support" asp-action="Index">Cambiar Contraseña a Usuarios Externos</a></li>
                                                </ul>
                                            </li>
                                            <!-- Seccion Mi Perfil-->
                                            <li>
                                                <a href="javascript:void(0)"><i class="ti-user"></i><span>Mi Perfil</span></a>
                                                <ul class="submenu">
                                                    <li><a asp-area="" asp-controller="User" asp-action="Information">Mi Información</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </nav>
                                }
                                else if (User.IsInRole("Digitador"))
                                {
                                    <nav>
                                        <ul id="nav_menu">
                                            <!-- Seccion Inicio -->
                                            <li>
                                                <a asp-area="" asp-controller="Home" asp-action="Index"><i class="ti-home"></i><span>Inicio</span></a>
                                            </li>
                                            <!-- Seccion Administracion -->
                                            <li>
                                                <a href="javascript:void(0)"><i class="ti-bookmark-alt"></i><span>Administración</span></a>
                                                <ul class="submenu">
                                                    <li><a asp-area="" asp-controller="Membership" asp-action="Index">Membresia</a></li>
                                                    <li><a asp-area="" asp-controller="Privilege" asp-action="Index">Privilegios</a></li>
                                                    <li><a asp-area="" asp-controller="Server" asp-action="Index">Servidores</a></li>
                                                </ul>
                                            </li>
                                            <!-- Seccion Historial -->
                                            <li>
                                                <a href="javascript:void(0)"><i class="ti-archive"></i><span>Historial</span></a>
                                                <ul class="submenu">
                                                    <li><a asp-area="" asp-controller="MembershipHistory" asp-action="Index">Historial Membresia</a></li>
                                                </ul>
                                            </li>
                                            <!-- Seccion Seguridad -->
                                            <li>
                                                <a href="javascript:void(0)"><i class="ti-bookmark-alt"></i><span>Seguridad</span></a>
                                                <ul class="submenu">
                                                    <li><a asp-area="" asp-controller="User" asp-action="ChangePassword">Cambiar Contraseña</a></li>
                                                </ul>
                                            </li>
                                            <!-- Seccion Mi Perfil-->
                                            <li>
                                                <a href="javascript:void(0)"><i class="ti-user"></i><span>Mi Perfil</span></a>
                                                <ul class="submenu">
                                                    <li><a asp-area="" asp-controller="User" asp-action="Information">Mi Información</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </nav>
                                }
                            </div>
                        </div>
                        <!-- mobile_menu -->
                        <div class="col-12 d-block d-lg-none">
                            <div id="mobile_menu"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- header area end -->
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
            <!-- footer area start-->
            <footer>
                <div style="text-align:center;">
                    <p>© Copyright <span id="currentYear"></span>. Desarrollado Por Hector Garcia</p>
                </div>
            </footer>
            <br />
            <!-- footer area end-->
        </div>
    }
    else
    {
        <main role="main">
            @RenderBody()
        </main>
    }



    <!-- offset area end -->
    <!-- jquery latest version -->
    <script src="~/assets/js/vendor/jquery-2.2.4.min.js"></script>
    <!-- bootstrap 4 js -->
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/metisMenu.min.js"></script>
    <script src="~/assets/js/jquery.slimscroll.min.js"></script>
    <script src="~/assets/js/jquery.slicknav.min.js"></script>

    <!-- all line chart activation -->
    <script src="~/assets/js/line-chart.js"></script>
    <!-- all pie chart -->
    <script src="~/assets/js/pie-chart.js"></script>
    <!-- all bar chart -->
    <script src="~/assets/js/bar-chart.js"></script>
    <!-- all map chart -->
    <script src="~/assets/js/maps.js"></script>
    <!-- others plugins -->
    <script src="~/assets/js/plugins.js"></script>
    <script src="~/assets/js/scripts.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        // Obtiene el año actual y lo inserta en el elemento con id "currentYear"
        document.getElementById("currentYear").textContent = new Date().getFullYear();
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('logoutLink').addEventListener('click', function () {
                Swal.fire({
                    title: '¿Está seguro de que desea Cerrar Sesión?',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Sí, Cerrar Sesión',
                    cancelButtonText: 'Cancelar'
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = '@Url.Action("Logout", "User")';
                    }
                });
            });
        });
    </script>

    <script src="~/lib/SweetAlert2/js/min.js"></script>
    <script src="~/lib/DataTables/js/dataTables.js"></script>
    <script src="~/lib/DataTables/js/min.js"></script>
    <script src="~/lib/Select2/js/min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
