@model MCEI.SysControlAdmin.EN.User___EN.User

@{
    ViewData["Title"] = "Información del Usuario";
}

<link href="~/css/User/DesignInformation.css" rel="stylesheet" />

<div class="user-container">
    <div class="user-info">
        <img src="@(ViewBag.ImageUrl != null ? "data:image/jpeg;base64," + ViewBag.ImageUrl : "")" alt="Foto de Usuario" class="user-photo">
        <h2>@Model.Name @Model.LastName</h2>
        <p>@Model.Email</p>
        <p>@Model.Role!.Name</p>
    </div>
</div>