@model IEnumerable<MCEI.SysControlAdmin.EN.Role___EN.Role>

@{
    ViewData["Title"] = "Roles";
}

<br />
<h3>Mantenimiento De Roles</h3>
<hr />
<form asp-action="Index">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="Name">Nombre</label>
                <input type="text" class="form-control" name="Name" placeholder="Ingresar" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input type="submit" class="btn btn-outline-success m-1" value="Buscar Rol" /> |
                <a asp-action="Create" class="btn btn-primary">Crear Nuevo Rol</a>
            </div>
        </div>
    </div>
</form>
<br />
<h2 style="text-align:center;">Tabla de Resultados</h2>
<br />
<table id="ResultData" class="hover" style="width:100%; text-align:center;">
    <thead>
        <tr>
            <th style="text-align:center;">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th style="text-align:center;">
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th style="text-align:center;">
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th style="text-align:center;">
                @Html.DisplayNameFor(model => model.DateModification)
            </th>
            <th style="text-align:center;">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Where(r => r.Id != 1))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                @if (item.Status == 1)
                {
                    <td>Activo</td>
                }
                else if (item.Status == 2)
                {
                    <td>Inactivo</td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreatedFormatted) @Html.DisplayFor(modelItem => item.TimeCreatedFormatted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateModificationFormatted) @Html.DisplayFor(modelItem => item.TimeModificationFormatted)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning m-1" title="Modificar Rol">
                        <i class="ti-pencil-alt"></i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger m-1" title="Eliminar Rol">
                        <i class="ti-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />

@section Scripts {
    <script>
        // Configuración De La Tabla
        new DataTable('#ResultData', {
            info: false,
            order: false,
            Response: true,
            pagingType: 'simple_numbers',
            language: {
                search: 'Busqueda Rapida :',
                searchPlaceholder: 'Ingresar',
                lengthMenu: '_MENU_ Mostrar',
                emptyTable: 'No Hay Datos Que Coincidan Con Su Criterio De Búsqueda.',
                zeroRecords: 'No Existen Registros Segun La Busqueda',
                processing: 'Procesando...',
            }
        });
        // Configuramos La Alerta a Mostrar
        const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 8000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer);
                toast.addEventListener('mouseleave', Swal.resumeTimer);
            }
        });
        // Comprobar si hay mensajes de éxito y mostrar notificaciones del sistema
        const successMessages = {
            Creado: '@TempData["SuccessMessageCreate"]',
            Modificado: '@TempData["SuccessMessageUpdate"]',
            Eliminado: '@TempData["SuccessMessageDelete"]'
        };
        // Bucle, Cuando Exista un Mensaje Se Muestra La Alerta
        for (const messageType in successMessages) {
            const message = successMessages[messageType];
            if (message) {
                Toast.fire({
                    icon: "success",
                    title: `¡${messageType} Exitosamente!`,
                    text: message
                });
            }
        }
    </script>
}