@model MCEI.SysControlAdmin.EN.User___EN.User

@{
    ViewData["Title"] = "Modificar Contraseña";
}

<br />
<h1>Formulario Modificar Contraseña</h1>
<span>@ViewBag.Error</span>
<hr />

<script>
    // Función asíncrona que muestra un cuadro de diálogo de SweetAlert2
    async function ShowCreatePrompt() {
        const { value: name } = await Swal.fire({
            title: 'Ingresa La Nueva Contraseña',
            html: `
                    <p><strong>Usuario Seleccionado:</strong> @Model.Email</p>
                    <p><strong>Rol Actual:</strong> @Model.Role!.Name</p>
                    <input type="password" id="swal-input" class="swal2-input" placeholder="xxxxxxxx">
                `,
            focusConfirm: false,
            showCancelButton: true,
            confirmButtonText: 'Modificar Contraseña',
            cancelButtonText: 'Cancelar',
            reverseButtons: true,
            preConfirm: () => {
                const password = document.getElementById('swal-input').value;
                if (!password) {
                    Swal.showValidationMessage('La contraseña no puede estar vacía');
                }
                return password;
            }
        });

        if (!name) {
            window.location.href = '@Url.Action("Index", "Support")'; // Redirigir a la acción Índice si se cancela
            return; // Salir si no se ingresa una contraseña
        }

        // Actualizamos el valor del campo oculto con la nueva contraseña
        document.getElementById('Pass').value = name;

        // Mostrar alerta de confirmación
        Swal.fire({
            title: '¿Modificar Contraseña Actual?',
            icon: 'question',
            showCancelButton: true,
            confirmButtonText: 'Si, Modificar Contraseña',
            cancelButtonText: 'Cancelar',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                document.getElementById('Form').submit(); // Enviar el formulario
            } else {
                window.location.href = '@Url.Action("Index", "Support")'; // Redirigir si se cancela
            }
        });
    }

    window.onload = ShowCreatePrompt; // Llamar a la función al cargar la página
</script>

<form asp-action="ChangePasswordForUser" id="Form">
    <div asp-validation-summary="ModelOnly"></div>
    <input type="hidden" asp-for="Id" />
    <input type="hidden" id="Pass" name="Password" />
</form>