@model MCEI.SysControlAdmin.EN.ServerHistory___EN.ServerHistory

@{
    ViewData["Title"] = "Detalles Del Servidor Seleccionado";
}

<br />
<h1>Formulario Detalles Del Servidor Seleccionado</h1>
<hr />
<br />

<div class="container">
    <div class="row">
        <!-- Columna de información personal del miembro-->
        <div class="col-md-8">
            <h3>Información Personal Del Miembro</h3>
            <br />
            <dl class="row">
                <input type="hidden" id="IdMembership" value="@Model.IdMembership" />

                <dt class="col-sm-4">Nombre</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Membership!.Name)</dd>

                <dt class="col-sm-4">Apellido</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Membership!.LastName)</dd>

                <dt class="col-sm-4">Dui</dt>
                <dd class="col-sm-8" id="Dui"></dd>

                <dt class="col-sm-4">Fecha De Nacimiento</dt>
                <dd class="col-sm-8" id="DateOfBirth"></dd>

                <dt class="col-sm-4">Edad</dt>
                <dd class="col-sm-8" id="Age"></dd>

                <dt class="col-sm-4">Genero</dt>
                <dd class="col-sm-8" id="Gender"></dd>

                <dt class="col-sm-4">Estado Civil</dt>
                <dd class="col-sm-8" id="CivilStatus"></dd>

                <dt class="col-sm-4">Profesión u Oficio</dt>
                <dd class="col-sm-8" id="ProfessionOrStudy"></dd>

                <dt class="col-sm-4">Bautizmo Por El Espiritu Santo</dt>
                <dd class="col-sm-8" id="BaptismOfTheHolySpirit"></dd>

                <dt class="col-sm-4">Zona</dt>
                <dd class="col-sm-8" id="Zone"></dd>

                <dt class="col-sm-4">Distrito</dt>
                <dd class="col-sm-8" id="District"></dd>

                <dt class="col-sm-4">Sector</dt>
                <dd class="col-sm-8" id="Sector"></dd>

                <dt class="col-sm-4">Celula</dt>
                <dd class="col-sm-8" id="Cell"></dd>

                <dt class="col-sm-4">Estado</dt>
                <dd class="col-sm-8" id="Status"></dd>

                <dt class="col-sm-4">Codigo De Identidad Interna</dt>
                <dd class="col-sm-8" id="InternalIdentityCode"></dd>

                <dt class="col-sm-4">Comnetarios u Observaciones</dt>
                <dd class="col-sm-8" id="CommentsOrObservations"></dd>

            </dl>
        </div>

        <!-- Columna de la imagen -->
        <div class="col-md-4 text-center">
            <h5>Fotografía</h5>
            <br />
            <img id="imagenPreview" src="" alt="Vista previa de la imagen" style="max-width: 100%; max-height: 200px;" />
        </div>
    </div>

    <!-- Sección de información del privilegio -->
    <div class="row">
        <div class="col-md-6">
            <br />
            <h3>Información Del Privilegio</h3>
            <br />
            <dl class="row">
                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.IdPrivilege)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Privilege!.Name)</dd>

                <dt class="col-sm-4">Estado</dt>
                <dd class="col-sm-8" id="StatusPrivilege"></dd>

                <dt class="col-sm-4">Fecha De Creación</dt>
                <dd class="col-sm-8" id="DateCreated"></dd>

                <dt class="col-sm-4">Fecha De Modificación</dt>
                <dd class="col-sm-8" id="DateModification"></dd>

            </dl>
        </div>

        <div class="col-md-6">
            <br />
            <h3>Información Complementaria</h3>
            <br />
            <dl class="row">
                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Status)</dt>
                <dd class="col-sm-8">@(Model.Status == 1 ? "ACTIVO" : "INACTIVO")</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.DateCreated)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.DateCreatedFormatted) - @Html.DisplayFor(model => model.TimeCreatedFormatted)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.DateModification)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.DateModificationFormatted) - @Html.DisplayFor(model => model.TimeModificationFormatted)</dd>
            </dl>
        </div>
    </div>

    <br />

    <div>
        <a class="btn btn-outline-secondary" asp-action="Index">Regresar a la Lista</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        // Función para mostrar alertas de error utilizando SweetAlert2
        function showErrorAlert(message) {
            Swal.fire({
                title: 'Error',
                text: message,
                icon: 'error'
            });
        }

        // Evento que se ejecuta una vez que el DOM ha sido completamente cargado
        document.addEventListener("DOMContentLoaded", function () {

            // Mostrar alerta si ViewBag.Error tiene contenido
        @if (!string.IsNullOrEmpty(ViewBag.Error))
        {
            <text>showErrorAlert('@Html.Raw(ViewBag.Error.ToString().Replace("'", "\\'"))');</text>
        }

            // Función para autocompletar información del miembro
            function autocompleteMembershipDetails(membershipId) {
                if (membershipId) {
                    $.ajax({
                        url: '@Url.Action("GetMembershipDetails", "ServerHistory")',
                        type: 'GET',
                        data: { id: membershipId },
                        success: function (data) {
                            if (data.error) {
                                showErrorAlert(data.error);
                            } else {
                                $('#Dui').text(data.dui);
                                $('#DateOfBirth').text(data.dateOfBirth);
                                $('#Age').text(data.age);
                                $('#Gender').text(data.gender);
                                $('#CivilStatus').text(data.civilStatus);
                                $('#ProfessionOrStudy').text(data.professionOrStudy);
                                $('#BaptismOfTheHolySpirit').text(data.baptismOfTheHolySpirit);
                                $('#Zone').text(data.zone);
                                $('#District').text(data.district);
                                $('#Sector').text(data.sector);
                                $('#Cell').text(data.cell);
                                $('#Status').text(data.status);
                                $('#InternalIdentityCode').text(data.internalIdentityCode);
                                $('#CommentsOrObservations').text(data.commentsOrObservations);
                                $('#imagenPreview').attr('src', 'data:image/jpeg;base64,' + data.photo);
                            }
                        },
                        error: function () {
                            showErrorAlert('Error al obtener los detalles del miembro.');
                        }
                    });
                } else {
                    // Limpiar los campos si no se selecciona ningún miembro
                    $('#Dui').text('');
                    $('#DateOfBirth').text('');
                    $('#Age').text('');
                    $('#Gender').text('');
                    $('#CivilStatus').text('');
                    $('#ProfessionOrStudy').text('');
                    $('#BaptismOfTheHolySpirit').text('');
                    $('#Zone').text('');
                    $('#District').text('');
                    $('#Sector').text('');
                    $('#Cell').text('');
                    $('#Status').text('');
                    $('#InternalIdentityCode').text('');
                    $('#CommentsOrObservations').text('');
                    $('#imagenPreview').attr('src', '');
                }
            }

            // Función para autocompletar información del privilegio
            function autocompletePrivilegeDetails(privilegeId) {
                if (privilegeId) {
                    $.ajax({
                        url: '@Url.Action("GetPrivilegeDetails", "ServerHistory")',
                        type: 'GET',
                        data: { id: privilegeId },
                        success: function (data) {
                            if (data.error) {
                                showErrorAlert(data.error);
                            } else {
                                $('#StatusPrivilege').text(data.status);
                                $('#DateCreated').text(data.dateCreated);
                                $('#DateModification').text(data.dateModification);
                            }
                        },
                        error: function () {
                            showErrorAlert('Error al obtener los detalles del privilegio.');
                        }
                    });
                } else {
                    $('#StatusPrivilege').text('');
                    $('#DateCreated').text('');
                    $('#DateModification').text('');
                }
            }

            // Obtener los IDs del modelo
            var selectedMembershipId = '@Model.IdMembership';
            var selectedPrivilegeId = '@Model.IdPrivilege';

            // Autocompletar datos si existen
            autocompleteMembershipDetails(selectedMembershipId);
            autocompletePrivilegeDetails(selectedPrivilegeId);
        });
    </script>
}