@model MCEI.SysControlAdmin.EN.Privilege___EN.Privilege

@{
    ViewData["Title"] = "Eliminar Privilegio";
}

<br />
<h1>Formulario Eliminar Privilegio</h1>
<br />
<p>¿Estás seguro de eliminar este registro? No podrás revertir esta acción.</p>
<span>@ViewBag.Error</span>
<hr />

<script>
    async function ShowDeletePrompt() {
        const result = await Swal.fire({
            title: `Eliminar Privilegio: ${'@Model.Name'}`,
            text: '¿Estás seguro de eliminar este registro? No podrás revertir esta acción.',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Eliminar',
            cancelButtonText: 'Cancelar',
            reverseButtons: true
        });

        if (result.isConfirmed) {
            ConfirmFinalDelete();
        } else {
            window.location.href = '@Url.Action("Index", "Privilege")';
        }
    }

    async function ConfirmFinalDelete() {
        const result = await Swal.fire({
            title: 'Confirmar Eliminación',
            text: 'Esta acción es irreversible. ¿Deseas continuar?',
            icon: 'question',
            showCancelButton: true,
            confirmButtonText: 'Sí, Eliminar',
            cancelButtonText: 'Cancelar',
            reverseButtons: true
        });

        if (result.isConfirmed) {
            document.getElementById('Id').value = '@Model.Id';
            document.getElementById('Form').submit();
        }
    }

    window.onload = ShowDeletePrompt;

    function showErrorAlert(message) {
        Swal.fire({
            title: 'Error',
            text: message,
            icon: 'error'
        });
    }

    @if (!string.IsNullOrEmpty(ViewBag.Error))
    {
        @:showErrorAlert('@ViewBag.Error');
    }
</script>

<form asp-action="DeletePrivilege" id="Form">
    <input type="hidden" name="Id" asp-for="Id" />
</form>